BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
NEXT_PUBLIC_RESEND_API=
UPLOADTHING_TOKEN=
NEXT_PUBLIC_SECRET_KEY_UPLOADTHING=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=
NEXT_PUBLIC_API_URL=
MP_PUBLIC_KEY=
MP_ACESS_TOKEN=
NEXT_PUBLIC_API_MP=