BETTER_AUTH_SECRET=ZktsDLrIiwwox6KV7rZaLthTqe23rjUn
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres
NEXT_PUBLIC_RESEND_API=re_TBjB6EYu_7Ybvg3uVuiJhsTXKuGNhqEXE
