BETTER_AUTH_SECRET=ZktsDLrIiwwox6KV7rZaLthTqe23rjUn
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres
NEXT_PUBLIC_RESEND_API=re_TBjB6EYu_7Ybvg3uVuiJhsTXKuGNhqEXE
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzZiYTg3ZWQ1NmNmMjgyOTZmMTZiYmE5YWIwNzk5YTUzMzFlYjhkNjVmNzhkMjI5MjBlZGUxYjIxNWY3MmMyMzUiLCJhcHBJZCI6Img4cDJqd2VkNjYiLCJyZWdpb25zIjpbInNlYTEiXX0='
NEXT_PUBLIC_SECRET_KEY_UPLOADTHING='sk_live_6ba87ed56cf28296f16bba9ab0799a5331eb8d65f78d22920ede1b215f72c235'
GOOGLE_CLIENT_ID=420454327647-7riluegjee9l2ae1lbesgkmmtb14pq85.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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