@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 5%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 5%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 5%;

		--primary: 213 52% 40%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96%;
		--secondary-foreground: 0 0% 5%;

		--muted: 0 0% 96%;
		--muted-foreground: 0 0% 45%;
		--muted-text: 0, 0%, 14.9%;

		--accent: 0 0% 96%;
		--accent-foreground: 0 0% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 92%;
		--input: 0 0% 85%;
		--ring: 0 0% 76%;

		--radius: 0.5rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--chart-1: 213 52% 40%;
		--chart-2: 213 42% 60%;
		--chart-3: 213 32% 30%;
		--chart-4: 240 40% 50%;
		--chart-5: 200 45% 45%;
	}

	.dark {
		--background: 180 4% 5%;
		--foreground: 0 0% 98%;

		--card: 240 3% 6%;
		--card-foreground: 0 0% 98%;

		--popover: 240 3% 6%;
		--popover-foreground: 0 0% 98%;

		--primary: 213 52% 40%;
		--primary-foreground: 0 0% 98%;

		--primary-inverter: #fafafa;

		--secondary: 180 2% 12%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0, 0%, 9.02%;
		--muted-foreground: 204 2% 49%;
		--muted-text: 0, 0%, 89.8%;

		--accent: 213 18% 12%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 180 2% 12%;
		--input: 210 2% 18%;
		--ring: 213 52% 40%;

		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--chart-1: 213 60% 50%;
		--chart-2: 213 50% 70%;
		--chart-3: 213 40% 40%;
		--chart-4: 240 50% 60%;
		--chart-5: 200 55% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
